*{
box-sizing:border-box;
}

/* ---------------------------- NAV ---------------------------- */

.nav-style span{
  color: white;
  font-family: 'Fredoka One', cursive;
  font-size: 1.3rem;
}

.nav-style{
  background: #5B8DBC;
}

.nav-test{
  color: #fff;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.nav-test:hover{
  color: #E5E5E5;
  text-decoration: none;
}

/* ---------------------------- JUMBOTRON ---------------------------- */

.jumbotron-bg{
  background-color: #2F1509;
}

/* ---------------------------- MAIN ---------------------------- */

.products-bg{
  background: url("img/back.png") no-repeat;
  background-size: cover;
  height:100%;
  }

  h1{
    color: #fff;
    border-bottom: 3px solid white;
  }
.card img{
  width: 50%;
  height: 50%;
  border-radius: 10px;
}

.card p{
  font-size: 1.25rem;
  font-family: Arial, Helvetica, sans-serif;
}


/* ---------------------------- PRODUCTS ---------------------------- */

.wraper{
  width: 100%;
}
.col img{
  width:100%;
  height: 100%;
  opacity: 0.7;
  filter: alpha(opacity=50);
}
.col img:hover{
  opacity: 1;
  filter: alpha(opacity=50);
  transition: all 0.2s ease-in;
}

/* ---------------------------- GOOGLE MAP ---------------------------- */

#googleMap{
  margin: auto;
  width:80%;
  height:400px;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 3px solid #5B8DBC;
}
